@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global **/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.body-container {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

/* Header **/
header {
  background: #ebceeb;
  color: #000000;
  padding-top: 20px;
  min-height: 60px;
  border-bottom: #111111;
  padding-bottom: 10px;
}

header a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #title {
  float: left;
}

header #title h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .current a {
  color: #85038a;
  background-color: rgba(86, 3, 138, 0.1);
  font-weight: bold;
}

header a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

/* Photography **/

#photo {
  min-height: 400px;
  background: #cee0eb;
  padding-top: 35px;
  padding-bottom: 15px;
}

#photo h1 {
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 10px;
}

#photo p {
  font-size: 17px;
}

#photo * {
  box-sizing: border-box;
}


#photo .row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
#photo .row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
#photo .column {
  float: left;
  width: 50%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
#photo .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
#photo .content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
#photo .show {
  display: block;
}

/* Style the buttons */
#photo .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
#photo .btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
#photo .btn.active {
  background-color: #666;
   color: white;
}

/* Footer **/
footer {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

/* Media Queries **/
@media(max-width: 700px) {
  header #title,
  header nav,
  header nav li {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 15px;
  }
}
