@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 17px;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b8b8b8;
}

/* Global **/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.body-container {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  padding: none;
  margin: none;
  text-align: center;
  text-transform: uppercase;
}

/* Button **/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Header **/

header {
  width: 100%;
  height: 60px;
  background: #ebceeb;
  color: #000000;
  padding-top: 20px;
  min-height: 60px;
  border-bottom: #111111;
  padding-bottom: 10px;
}

/* unvisited link */
header a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
header a:visited {
  color: black;
}

/* mouse over link */
header a:hover {
  color: black;
}

/* selected link */
header a:active {
  color: #85038a;
}

header #nav {
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #title {
  float: left;
}

header #title h1 {
  padding-top: 3px;
  color: black;
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .current a {
  color: #85038a;
  background-color: rgba(86, 3, 138, 0.1);
  font-weight: bold;
}

header #nav:hover {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: fixed; /* Position them relative to the browser window */
  left: -115px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 10px; /* 15px padding */
  width: 123px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#aboutSide {
  top: 20px;
  background-color: #cc459f;
}

#academicsSide {
  top: 70px;
  background-color: #8b48d4; /* Blue */
}

#experienceSide {
  top: 120px;
  background-color: #4984d6; /* Red */
}

#skillsSide {
  top: 170px;
  background-color: #43ccbe; /* Light Black */
}

/* About **/
#about {
  padding-top: 20px;
  min-height: 300px;
  background: linear-gradient(#ebceeb, #dfceeb);
  padding-bottom: 20px;
}

#about p {
  font-size: 18px;
}

#about img {
  width: 240px;
  padding-top: 20px;
  padding-bottom: 0px;
}

#about #text {
  float: left;
  width: 73%;
}

#about #text img {
  width: 20px;
  margin: none;
  padding-top: none;
  padding-bottom: none;
  padding-left: 10px;
  padding-right: 10px;
}

#about #image {
  float: right;
  text-align: right;
  width: 25%;
  margin: none;
  padding: none;
}

#about #image #socials {
  text-align: center;
  float: center;
}

#about #image #socials img {
  text-align: center;
  width: 20px;
  margin: none;
  padding-left: 10px;
  padding-right: 10px;
  float: center;
}

#about a {
  color: black;
  text-decoration: none;
}

#about #text #link {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.6) 30%);
}

/* Academics **/

#academics {
  padding-top: 25px;
  min-height: 200px;
  background: linear-gradient(#dfceeb, #ceceeb);
  padding-bottom: 25px;
}

#academics p {
  font-size: 18px;
}

#academics a {
  color: #000000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.6) 30%);
  text-decoration: none;
}

#academics .highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ffedae 50%);
}

/* Projects - Style */

#projects {
  padding-top: 10px;
  min-height: 200px;
  background: linear-gradient(#ceceeb, #cee1eb);
  padding-bottom: 25px;
}

#projects h4 {
  padding: none;
  margin: none;
  text-align: center;
}

#projects .highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #FFD0AE 50%);
}

#projects .role {
  padding: none;
  margin: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}

#projects p {
  font-size: 18px;
}

#projects #link {
  color: #000000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.6) 30%);
}

#projects a {
  text-decoration: none;
}

a.lightbox img {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  margin: 17px 17px 17px 17px;
}

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 70%;
  margin-left: -15vw;
  padding-left: 15vw;
  margin-right: -15vw;
  padding-right: 15vw;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

a.lightbox-close {
  display: block;
  overflow: auto;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
  top: 0px;
}

.lightbox-target p {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* Skills **/

#skills {
  padding-top: 10px;
  min-height: 200px;
  background: linear-gradient(#cee1eb, #ceebe2);
  padding-bottom: 25px;
}

#skills p {
  font-size: 17px;
}

/* Footer **/
footer {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: purple;
}

footer img {
  width: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Media Queries **/
@media(max-width: 1100px) {
  header #title,
  header nav,
  header nav li {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 15px;
  }
}

@media(max-width: 1300px) {
  #about #text {
    padding: none;
    float: none;
    width: 100%;
  }

  #about #image {
    float: none;
    padding: none;
    text-align: center;
    width: 100%;
  }

  #about img {
    padding-top: 20px;
    padding-bottom: 20px;

  }

  #academics span {
    float: none;
  }
}

@media(max-width: 800px) {

  h2 {
    padding: none;
    margin: none;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  a.lightbox img {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    margin: 0px 5px 5px 5px;
  }

  #desktopFriendsImg {
    width: 90%;
  }

  #cohortImg {
    width: 90%;
  }

  #certificateImg {
    width: 90%;
  }

  #SIPMentorsImg {
    width: 85%;
  }

  #teamPhotoFTCImg {
    width: 85%;
  }

  #robotFTCImg {
    width: 82%;
  }

  #codingFTCImg {
    width: 85%;
  }

  #SIPPresentationImg {
    width: 90%;
  }

  #SIPParticipantsImg {
    width: 90%;
  }
}

@media(max-width: 500px) {
  header {
    width: 100%;
    height: 60px;
    background: #ebceeb;
    color: #000000;
    padding-top: 20px;
    min-height: 60px;
    border-bottom: #111111;
    padding-bottom: 40px;
  }

  h2 {
    padding: none;
    margin: none;
    text-align: center;
    font-size: 1.08em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  #mySidenav a {
    display: none;
  }
}
